## Modularity in Python

## Function and/or methods

In [3]:
def cylinder_volume(height, radius):
    """Computes volume of a cylinder."""
    volume = 3.14 * radius**2 * height
    return volume

def show_cylinder_volume(height, radius):
    """Show volume of a cylinder."""
    volume = 3.14 * radius**2 * height
    print(volume)

In [4]:
vol_1 = cylinder_volume(7, 10)
print("Volume:", vol_1)

vol_2 = cylinder_volume(10,10)
print("Volume:", vol_2)

vol_3 = show_cylinder_volume(10,10)
print("Volume:", vol_2)

Volume: 2198.0
Volume: 3140.0
3140.0
Volume: 3140.0

In [16]:
def filter_data(data, criteria):
    filtered_data = {}
    for item in data:
        if criteria in item.lower():
            filtered_data[data.index(item)] = item
            return filtered_data

In [21]:
list_names = ["kim namjoon", "kim taehyung", "jeon jungkook", "jung hoseok", "park jimin", "min yoongi", "kim seokjin"]
filter_data(list_names, "kim")

{0: 'kim namjoon', 1: 'kim taehyung', 6: 'kim seokjin'}

In [22]:
filter_data(list_names, "ok")

{2: 'jeon jungkook', 3: 'jung hoseok', 6: 'kim seokjin'}

In [20]:
list_names1 = ["septy", "eza", "idfi taniya", "idfi taniya kusuma", "tiurma", "yoanita", "idfi", "windi"]

def filter_data(data, criteria):
    filtered_data = {}
    for item in data:
        if criteria in item.lower():
            filtered_data[data.index(item)] = item
    return filtered_data
        
filter_data(list_names1, "ani")

{2: 'idfi taniya', 3: 'idfi taniya kusuma', 5: 'yoanita'}

In [23]:
def filter_data(data, criteria="min"):
    filtered_data = {}
    for item in data:
        if criteria in item.lower():
            filtered_data[data.index(item)] = item
    return filtered_data

filter_data(list_names)

{4: 'park jimin', 5: 'min yoongi'}

In [26]:
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, sep="..", end="--")
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, sep="..")
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "//")
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, sep="//")

1 2 3 4 5 6 7 8 9 10
1..2..3..4..5..6..7..8..9..10--1..2..3..4..5..6..7..8..9..10
1 2 3 4 5 6 7 8 9 10 //
1//2//3//4//5//6//7//8//9//10

In [33]:
def show_all(*names, sep=" "):
    string = ""
    for name in names:
        string += name
        string += sep
    return string[:-1]

def shows(sep=" ", *names):
    string = ""
    for name in names:
        string += name
        string += sep
    return string[:-1]

In [35]:
show_all("kim namjoon", "kim taehyung", "jeon jungkook", "jung hoseok", "park jimin", "min yoongi", "kim seokjin")

'kim namjoon kim taehyung jeon jungkook jung hoseok park jimin min yoongi kim seokjin'

In [34]:
shows("kim namjoon", "kim taehyung", "jeon jungkook", "jung hoseok", "park jimin", "min yoongi", "kim seokjin")

'kim taehyungkim namjoonjeon jungkookkim namjoonjung hoseokkim namjoonpark jiminkim namjoonmin yoongikim namjoonkim seokjinkim namjoo'

In [38]:
def jumlah(x, y):
    return x + y

jum = lambda arg1, arg2: arg1 + arg2

jum_1 = jumlah(10, 10)
print(jum_1)

jum_2 = jum(10, 10)
print(jum_2)

20
20

## Modules

In [1]:
import process

In [6]:
list_names=("dokyeom", "vernon", "seungkwan", "mingyu", "jeonghan", "wonwoo", "seungcheol", "joshua", "jun", "dino", "woozi", "the eight", "hoshi")

In [7]:
process.filter_data(list_names, criteria="woo")

{5: 'wonwoo', 10: 'woozi'}

In [8]:
import process as p

In [9]:
p.filter_data(list_names, criteria="on")

{1: 'vernon', 4: 'jeonghan', 5: 'wonwoo'}

In [10]:
#module process dipindah ke folder "hacktiv"
import hacktiv.process

## Packages

In [12]:
import hacktiv.model
import hacktiv.process

In [15]:
list_names=("dokyeom", "vernon", "seungkwan", "mingyu", "jeonghan", "wonwoo", "seungcheol", "joshua", "jun", "dino", "woozi", "the eight", "hoshi")

In [16]:
hacktiv.process.filter_data(list_names, criteria="woo")

{5: 'wonwoo', 10: 'woozi'}