# List

-mutable sequence: bisa diubah datanya, umumnya utk tipe data yg sama

In [1]:
int_list = [1, 2, 3]
print(int_list)
str_list = ["python", "intro"]
print(str_list)
mixed_list = [1, 1.1, "intro", True]
print(mixed_list)
empty_list = []
print(empty_list)
abc_list = list("abc") #constructor
print(abc_list)

[1, 2, 3]
['python', 'intro']
[1, 1.1, 'intro', True]
[]
['a', 'b', 'c']

In [2]:
print(mixed_list[0], mixed_list[-len(mixed_list)]) #indexing
print(abc_list[0:2], abc_list[-len(abc_list):2-len(abc_list)]) #slicng

1 1
['a', 'b'] ['a', 'b']

In [3]:
print(int_list) #[3, 2, 1]?
print(int_list[-1], int_list[-2])
print(abc_list[0::2])
print(int_list[start:end-1:step])

[1, 2, 3]
3 2
['a', 'c']

NameError: name 'start' is not defined

In [4]:
int_list[::-1]

[3, 2, 1]

In [6]:
print(int_list)
int_list[-1] *= 10
print(int_list)

[1, 2, 3]
[1, 2, 30]

In [7]:
print(mixed_list)
mixed_list.append("python")
print(mixed_list)

[1, 1.1, 'intro', True]
[1, 1.1, 'intro', True, 'python']

# Tuple
- immutable

In [9]:
coord = (110, 0.98)
print(coord)
tuple_from_list = tuple(mixed_list)
print(tuple_from_list, type(tuple_from_list))

(110, 0.98)
(1, 1.1, 'intro', True, 'python') <class 'tuple'>

In [11]:
print(coord[::-1])
print(tuple_from_list[::-1])

(0.98, 110)
('python', True, 'intro', 1.1, 1)

In [12]:
print(coord)
coord[0] *= 10
print(coord)

(110, 0.98)

TypeError: 'tuple' object does not support item assignment

In [13]:
course_name = "intro to python"
print(course_name, course_name[-1])
course_name[-1] = "m"

intro to python

## Set
- utk menghapus duplicate

In [14]:
names = {"eza", "idfi", "yoanita", "septy", "tiurma", "windi"}
print(names, type(names))

{'eza', 'tiurma', 'windi', 'yoanita', 'idfi', 'septy'} <class 'set'>

In [15]:
dup_list = {1, 2, 3, 3, 5, 6, 7, 8, 6, 6}
print("length of list:", len(dup_list), dup_list)
unique_list = set(dup_list)
print("num of unique values:", unique_list)

length of list: 7 {1, 2, 3, 5, 6, 7, 8}
num of unique values: {1, 2, 3, 5, 6, 7, 8}

## Dictionary

In [16]:
dict_height = {"jack": 167, "ryan": 190, "paul": 182}
print(dict_height, type(dict_height))

{'jack': 167, 'ryan': 190, 'paul': 182} <class 'dict'>

In [18]:
print("jack's height:", dict_height["jack"])
print("ryan's height:", dict_height["ryan"])

jack's height: 167
ryan's height: 190

In [20]:
dict_transaction = {"id": [1, 2, 3], "name": ["jack", "ryan"], "amount": [100, 88, 94], "coord": [(20, 199), (19, 211)]}
print(dict_transaction)

{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [100, 88, 94], 'coord': [(20, 199), (19, 211)]}

In [22]:
print(dict_transaction["name"][::-1])
print(dict_transaction["amount"][1:])
dict_transaction["amount"] = [110, 95]
print(dict_transaction)

['ryan', 'jack']
[88, 94]
{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [110, 95], 'coord': [(20, 199), (19, 211)]}

In [24]:

dict_transaction["coord"][0][0]
dict_transaction["coord"][0]

(20, 199)

In [40]:
coord = 110, 19
print(coord)
x, y = coord
print(f"x = {x}, y = {y}")

(110, 19)
x = 110, y = 19

In [41]:
for key, value in dict_transaction.items():
    print(f"{key}: {value}")

id: [1, 2, 3]
name: ['jack', 'ryan']
amount: [110, 95]
coord: [(20, 199), (19, 211)]

In [25]:
dict_transaction.keys()

dict_keys(['id', 'name', 'amount', 'coord'])

In [27]:
dict_transaction.items()

dict_items([('id', [1, 2, 3]), ('name', ['jack', 'ryan']), ('amount', [110, 95]), ('coord', [(20, 199), (19, 211)])])

In [28]:
dict_transaction.get("amount", "not found")

[110, 95]

In [29]:
dict_transaction.get("age", "not found")

'not found'

In [31]:
prod = ["KSM", "KPR"]
print(prod)
product = {"Auto", "KUM"}
print(product, type(product))

prod += list(product)
print(prod)

['KSM', 'KPR']
{'Auto', 'KUM'} <class 'set'>
['KSM', 'KPR', 'Auto', 'KUM']

## Control Flow

## While Loop

In [34]:
list_names = ["septy", "eza", "idfi taniya", "idfi taniya kusuma", "tiurma", "yoanita", "idfi", "windi"]
idx = 0
while idx < len(list_names):
        print(idx, list_names[idx])
        idx += 1

0 septy
1 eza
2 idfi taniya
3 idfi taniya kusuma
4 tiurma
5 yoanita
6 idfi
7 windi

In [35]:
list_taniya = []
idx = 0
while idx < len(list_names):
    student = list_names[idx]
    print("processing:", student)
    if "taniya" in student:
        print(student)
        list_taniya.append(student)
    idx += 1
        
print("taniya in student:", list_taniya)

processing: septy
processing: eza
processing: idfi taniya
idfi taniya
processing: idfi taniya kusuma
idfi taniya kusuma
processing: tiurma
processing: yoanita
processing: idfi
processing: windi
taniya in student: ['idfi taniya', 'idfi taniya kusuma']

In [36]:
list_taniya = []
idx = 0
while idx < len(list_names):
    student = list_names[idx]
    idx += 1
    if "ani" in student:
        list_taniya.append(student)
        continue 
    print("processing:", student)
    
        
print("taniya in student:", list_taniya)

processing: septy
processing: eza
processing: tiurma
processing: idfi
processing: windi
taniya in student: ['idfi taniya', 'idfi taniya kusuma', 'yoanita']

In [37]:
list_taniya = []
idx = 0
while idx < len(list_names):
    student = list_names[idx]
    idx += 1
    if "ani" in student:
        list_taniya.append(student)
        break 
    print("processing:", student)
    
        
print("taniya in student:", list_taniya)

processing: septy
processing: eza
taniya in student: ['idfi taniya']

## For Loop

In [38]:
for student in list_names:
    print(student)

septy
eza
idfi taniya
idfi taniya kusuma
tiurma
yoanita
idfi
windi

In [42]:
list_taniya = list()
for student in list_names:
        if "taniya" in students.lower():
            list_taniya.append(student)
            continue
        print(f")

SyntaxError: EOL while scanning string literal (<ipython-input-42-e7c7d0afd071>, line 6)

In [46]:
for idx, value in enumerate(list_names):
    print(idx, ".. sama aja dengan:", list_names[idx])

0 .. sama aja dengan: septy
1 .. sama aja dengan: eza
2 .. sama aja dengan: idfi taniya
3 .. sama aja dengan: idfi taniya kusuma
4 .. sama aja dengan: tiurma
5 .. sama aja dengan: yoanita
6 .. sama aja dengan: idfi
7 .. sama aja dengan: windi

In [48]:
range(10), range(1, 10)

(range(0, 10), range(1, 10))

In [54]:
dates = ["2020-08-01", "2020-07-01"]
all_dates = []

for date in dates:
    monthly = []
    day = int(list(dates.split("-")[-1])[-1])
    month = int(list(dates.split("-")[1])[-1])
    while day <= 31:
        day += 1
        if day < 10:
            monthly.append("2020-0" + str(month) + "-0" + str(day))
        else:
            monthly.append("2020-0" + str(month) + "-" + str(day))
    all_dates.append(monthly)

AttributeError: 'list' object has no attribute 'split'