First session of Intro to Python for Data Science

# Integers

In [6]:
print(45)
print(type(45))

45
<class 'int'>

# Float

In [7]:
print(3.5, type(3.5))
print(10.55, type(10.55))

3.5 <class 'float'>
10.55 <class 'float'>

# Complex

In [1]:
complex(4,15)

(4+15j)

In [9]:
type(4+15j)

complex

## String

In [12]:
print('jungkook',type('jungkook'))

jungkook <class 'str'>

In [13]:
"jungkook",'jungkook',"""jungkook""",'''jungkook'''

('jungkook', 'jungkook', 'jungkook', 'jungkook')

In [14]:
print("""jungkook
jungkook
jungkook""")

jungkook
jungkook
jungkook

# Boolean

In [18]:
print(False,type(False),True,type(True))

False <class 'bool'> True <class 'bool'>

In [19]:
print(bool(0),bool(1))

False True

In [20]:
print(bool(11),bool(-11),bool(.01),bool(-999.171616),bool(0.000))

True True True True False

In [21]:
print(bool("jungkook"),bool(""))

True False

## Variable

    javascript->camelCase->e.g. namaVariabel, numVariabel, countSuccess
    python->snake_case->e.g. nama_variable, num_variable, count_success
    ->readable->not recommended x, nv, a, i

In [22]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [25]:
nama_variabel = 700
print("nilai variabel:",nama_variabel)

nilai variabel: 700

In [26]:
height = 64
width = 64
print(height,width)

64 64

In [28]:
height = width = axis = 64
print(height,width,axis)

64 64 64

In [32]:
leader_name = "Namjoon"
print(leader_name)

Namjoon

In [31]:
leader_name.upper(), leader_name.lower()

('NAMJOON', 'namjoon')

In [33]:
a = 20
b = 50
c = 10
print(a, b, c)

20 50 10

In [34]:
print(a + b)
print(a +(b * c), a +  b*c)

70
520 520

In [35]:
print(a ** 2)

400

# Comparison Operators

In [36]:
print(a == b, a <= b, a != b)

False True True

## String Manipulation

In [41]:
boyband_name="BTS"
member="V"
print(boyband_name + " " + member)
print((boyband_name+" ") * 7)

BTS V
BTS BTS BTS BTS BTS BTS BTS

In [44]:
boyband="bangtan seonyeondan"
print("bang" in boyband)
print("wow" in boyband)

True
False

In [45]:
boyband.capitalize()

'Bangtan seonyeondan'

In [47]:
import re

In [50]:
apregno="ptt-1635262526252-2020"
print(apregno)

ptt-1635262526252-2020

In [51]:
re.sub(r"ptt","",apregno)

'-1635262526252-2020'

In [52]:
import datetime

In [58]:
datetime.datetime.now().strftime("%Y-%m-%d%h:%m:%s")

ValueError: Invalid format string